
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');



body{
    background-color: chartreuse;
    color:rgb(248, 233, 150);
    background-image: ("")
}

h1 {
    background-color: white;
    width: 40%;
    font-family: "Comic Neue", serif;
}

    